# Ignore binary and temporary build files
bin/
obj/

# Ignore Visual Studio related files
.vs/

# Ignore node modules and build outputs for frontend
node_modules/
dist/
build/
TutoRum/TutoRum.FE/appsettings.json
